main {
  padding: 0 10%;
}

main p {
  line-height: 1.5em;
}

.main-image {
  max-width: 100%;
}

.sidebar {
  text-align: center;
}

.sidebar-header {
  border-bottom: 1px solid black;
  margin: 0 30% 15px 30%;
}

.sidebar-image {
  margin-bottom: 25px;
}
