header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url("header.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("header.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  z-index: -1;
  padding: 15px 20px 0 20px;
}

.header-logo {
  width: 50%;
}

.header-content {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-top: 50vh;
  color: #FFF;
  font-size: 1.5rem;
}

.header-contact {
  text-align: right;
  color: #FFF;
  font-size: 1.3em;
}

.header-contact a {
  color: #FFF;
  margin: 30px 10px;
}

.contact-button {
  color: #FFF;
  outline: none;
  border: 2px solid #FFF;
  background-color: Transparent;
  padding: 5px 25px;
  cursor: pointer;
  -webkit-transition: background-color .2s, border .2s;
  transition: background-color .2s, border .2s;
}

.contact-button:hover {
  background-color: #6FB431;
  border: 2px solid #6FB431;
  -webkit-transition: background-color .4s, border .4s;
  transition: background-color .4s, border .4s;
}

.down-icon {
  color: #FFF;
  font-size: 1.4rem;
  margin: 0 auto;
  display: block;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 5px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 10px;
  border: 1px solid transparent;
  -webkit-transition: border .4s;
  transition: border .4s;
}

.down-icon:hover {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: border .4s;
  transition: border .4s;
}
