main {
  padding: 0;
  color: #555;
}

h1, h3, h4 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 1.8rem;
}

h1:after {
    display: block;
    height: 2px;
    background-color: #6FB431;
    content: " ";
    width: 100px;
    margin: 25px auto;
}

h3 {

  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h3:after, h4:after {
    display: block;
    height: 2px;
    background-color: #6FB431;
    content: " ";
    width: 200px;
    margin: 25px auto;
}

h4:after {
  margin: 15px auto;
}

section {
  margin: 20px 10%;
  padding: 0 30px;
}

a {
  color: #6FB431;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}

.main-image {
  max-width: 100%;
}

.about-pic {
  max-width: 100%;
  border-radius: 5px;
}

.list-container {
  background-color: #FFF;
  margin: 10px;
  padding: 10px 0;
}

.bg-grey {
  background-color: #f4f4f4;
}

.centered {
  text-align: center;
  margin-bottom: 10px;
}

.centered i {
  font-size: 1.5rem;
  padding: 5px;
}

.section-list li {
  margin-bottom: 10px;
}

.policies-bottom {
  margin-top: 20px;
}

.highlighted {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

@media only screen and (max-width: 700px) {
  section {
    margin: 0 10px;
  }
}
