.navigation {
  list-style: none;
  text-align: center;
  margin-top: 10px;
}

.navigation li {
  font-size: 2rem;
  display: inline;
  margin-right: 20px;
  font-family: 'Nanum Pen Script', 'Roboto', sans-serif;
}

.navigation li a {
  color: #1E1A55;
}

.navigation li a:hover {
  color: #6FB431;
}
